 * {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
} 

h1 {
    text-align: center;
}

aside {
    background-color: rgb(236, 236, 228);
    width: 20%;
}

main {
    background-color: rgb(177, 180, 179);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


footer {
    min-height: 10svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footerSpan {
    font-size: 2rem;
    font-weight: bold;
}

#warning {
    color: red;
}

